<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="kuka_lwr_gazebo" params="name">

		<gazebo>
			<plugin name="${name}_lwr_hw_sim" filename="liblwr_hw_gazebo_plugin.so">
				<robotNamespace>${name}</robotNamespace>
			</plugin>
		</gazebo>

		<gazebo reference="${name}_base_link">
			<gravity>true</gravity>
                        <material>Gazebo/Green </material>
		</gazebo>

                <gazebo reference="${name}_a1_link">
			<gravity>true</gravity>
                        <material>Gazebo/Green </material>
		</gazebo>

                <gazebo reference="${name}_a2_link">
			<gravity>true</gravity>
                        <material>Gazebo/Green </material>
		</gazebo>

                <gazebo reference="${name}_e1_link">
			<gravity>true</gravity>
                        <material>Gazebo/Green </material>
		</gazebo>

                <gazebo reference="${name}_a3_link">
			<gravity>true</gravity>
                        <material>Gazebo/Green </material>
		</gazebo>

                <gazebo reference="${name}_a4_link">
			<gravity>true</gravity>
                        <material>Gazebo/Green </material>
		</gazebo>

                <gazebo reference="${name}_a5_link">
			<gravity>true</gravity>
                        <material>Gazebo/Grey </material>
		</gazebo>

                <gazebo reference="${name}_a6_link">
			<gravity>true</gravity>
                        <material>Gazebo/Black</material>
		</gazebo>

	</xacro:macro>

</robot>
