<launch>

    <!-- set the parameters for the points topics -->
    <arg name="base_name"               default="kinect_fusion"/>
    <arg name="raw_images_topics"       default="[/kinect2_k1/hd/image_color, /kinect2_k2/hd/image_color]"/>
    <arg name="cameras_info_topics"     default="[/kinect2_k1/hd/camera_info, /kinect2_k2/hd/camera_info]"/>
    <arg name="points_topics"           default="[/kinect2_k1/sd/points, /kinect2_k2/sd/points]"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="ir1_to_world" args="1.652855 2.520105 2.475799 0.817568 -0.259351 -0.135036 0.496069 world kinect2_k1_ir_optical_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="ir2_to_world" args="-1.475760 2.591169 2.454787 0.841699 0.221744 0.123520 0.476567 world kinect2_k2_ir_optical_frame " />
    <node pkg="tf2_ros" type="static_transform_publisher" name="rgb1_to_aruco" args="-1.854041 2.577598 1.744207 0.087088 0.927167 -0.230036 0.282597 aruco kinect2_k1_rgb_optical_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="rgb2_to_aruco" args="1.380314 2.555812 1.823971 -0.073189 0.931532 -0.261369 -0.242027 aruco kinect2_k2_rgb_optical_frame " />
    <node pkg="tf2_ros" type="static_transform_publisher" name="aruco_to_world" args="-0.150000 0.750000 0.000000 0.000000 0.707107 0.707107 -0.000000 world aruco " />

    <node name="$(arg base_name)" pkg="kinect_fusion" type="kinect_fusion_node" output="screen">
        <param name="base_name"                 type="str"    value="$(arg base_name)"/>
        <rosparam param="raw_images_topics"     subst_value="True">$(arg raw_images_topics)</rosparam>
        <rosparam param="points_topics"         subst_value="True">$(arg points_topics)</rosparam>
        <rosparam param="cameras_info_topics"   subst_value="True">$(arg cameras_info_topics)</rosparam>
    </node>

</launch>
